body {
    font-family: 'Montserrat', sans-serif;
    color: #434455;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.form {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 32px;
}

input {
    /* display: block; */
    width: 272px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #808080;
    background: #FFF;
    color: #808080;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.64px;
    padding-left: 16px;
}

input:active {
    border: 1px solid #4E75FF;

}

button {
    width: 91px;
    height: 40px;
    border-radius: 8px;
    background: #4E75FF;
    color: #ffffff;
    border: none;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    margin-left: 8px;
}

button:hover {
    background-color: #6C8CFF;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    row-gap: 50px;
    list-style-type: none;
    padding: 0px 156px;
    margin: 0 auto;
    max-width: 1440px;
    margin-top: 20px;
}

.gallery-item {
    width: calc((100% - 48px) / 3);
    box-sizing: border-box;
}

.gallery-image {
    width: 360px;
    height: 240px;
}

.gallery-item:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.info-img {
    display: flex;
    height: 60px;
    padding-top: 10px;
    border-bottom: 1px solid black;
    justify-content: space-around;
    font-weight: 600;
}

.info-img>p>span {
    display: block;
    padding-top: 4px;
    ;
    font-weight: 400;
    text-align: center;
}

.loader {
    display: block;
    position: relative;
    height: 12px;
    width: 20%;
    border: 1px solid #fff;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
}

.loader::after {
    content: '';
    width: 40%;
    height: 100%;
    background: #9694e9;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    animation: animloader 2s linear infinite;
}

@keyframes animloader {
    0% {
        left: 0;
        transform: translateX(-100%);
    }

    100% {
        left: 100%;
        transform: translateX(0%);
    }
}